.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  text-align: center;
  background-color: darkkhaki;
}
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0px;
}

table {
  margin-left: 25%;
  margin-top: 10%;
  background-color: white;
}
button {
  width: 100%;
}

button:hover {
  background-color: mediumaquamarine;
}
input:focus {
  background-color: lightblue;
}
th {
  background-color: mediumvioletred;
}
